@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<AirportDetails.Airport> requiredAirports = (List<AirportDetails.Airport>)ViewData["RequiredAirports"];
    CityDetails.City city = (CityDetails.City)ViewData["City"];
}

<h1>Enter City</h1>

<form action="" method="POST">
    <div class="form-group">
        <label class="control-label" for="search"><strong></strong></label>
        <input type="text" class="form-control" name="search" id="search" />
    </div>
    <div class="form-group">
        <input type="submit" value="Enter City" class="btn btn-danger" />
    </div>
</form>

@if (Model.SearchCompleted)

{
    <div class="text-center">
        <h2 class="display-4">Airport Dictionary</h2>
        <h4>@city.Name, @city.Country, @city.Subcountry</h4>
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Airport Name</th>
                    <th>Type</th>
                    <th>Local Code</th>
                    <th>Elevation (in ft.)</th>
                </tr>
            </thead>
            <tbody>
                @if (requiredAirports.Count > 0)
                {
                    @foreach (AirportDetails.Airport airport in requiredAirports)
                    {
                        <tr>
                            <td>@airport.Name</td>
                            <td>@airport.Type</td>
                            <td>@airport.LocalCode</td>
                            <td>@airport.ElevationFeet</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="danger">
                        <td colspan="4" class="text-center">
                            No results found for term "@Model.Search"
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
}