@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<QuickTypeAirport.Airport> requiredAirports = (List<QuickTypeAirport.Airport>)ViewData["RequiredAirports"];
    var message = ViewData["Message"];
}

<div class="text-center">
    <h1 class="display-4">Airport Dictionary</h1>
    <h2>@message</h2>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Airport Name</th>
            <th>Type</th>
            <th>Local Code</th>
            <th>Elevation (in ft.)</th>
        </tr>
        @{
            @foreach (QuickTypeAirport.Airport airport in requiredAirports)
            {
                <tr>
                    <td>@airport.Name</td>
                    <td>@airport.Type</td>
                    <td>@airport.LocalCode</td>
                    <td>@airport.ElevationFt</td>
                </tr>
            }
        }
    </table>
    <br />
</div>